<?php
$text_footer = 'Dealio&trade; &copy;' .date("Y") . ' CFManiac.com All Rights Reserved';
?>

<div id="footer"><?php echo $text_footer; ?> <?php echo $server_time; ?></div> 
</aside><!-- /.right-side -->
</div><!-- ./wrapper -->


<!-- jQuery 2.0.2 -->
<script src="view/javascript/jquery-1.10.2.js"></script>
<!--UI -->
<script src="view/theme/default/js/jquery-ui-1.10.4.custom.min.js"></script>
<!-- Bootstrap -->
<script src="view/theme/default/js/bootstrap.min.js" type="text/javascript"></script>

<script src="view/javascript/jquery.validate.min.js" type="text/javascript"></script>
<script src="view/javascript/additional-methods.min.js" type="text/javascript"></script>

<!-- AdminLTE App -->
<script src="view/theme/default/js/AdminLTE/app.js" type="text/javascript"></script>
<?php foreach ($scripts as $script) { ?>
    <script type="text/javascript" src="<?php echo $script; ?>"></script>
<?php } ?>
<script type="text/javascript">

function file_upload(field, display){
    $('#dialog').remove();
	
	$('body').prepend('<div id="dialog" style="padding: 3px 0px 0px 0px;"><iframe src="index.php?route=common/filemanager&token=<?php echo $token; ?>&field=' + encodeURIComponent(field) + '" style="padding:0; margin: 0; display: block; width: 100%; height: 100%;" frameborder="no" scrolling="auto"></iframe></div>');
	
	$('#dialog').dialog({
		title: '<?php echo $text_image_manager; ?>',
		close: function (event, ui) {
			$('#' + display).text($('#' + field).attr('value'));
				
			
		},	
		bgiframe: false,
		width: 800,
		height: 400,
		resizable: false,
		modal: false
	});
}

function image_upload(field, thumb) {
	$('#dialog').remove();
	
	$('body').prepend('<div id="dialog" style="padding: 3px 0px 0px 0px;"><iframe src="index.php?route=common/filemanager&token=<?php echo $token; ?>&field=' + encodeURIComponent(field) + '" style="padding:0; margin: 0; display: block; width: 100%; height: 100%;" frameborder="no" scrolling="auto"></iframe></div>');
	
	$('#dialog').dialog({
		title: '<?php echo $text_image_manager; ?>',
		close: function (event, ui) {
			if ($('#' + field).attr('value')) {
				$.ajax({
					url: 'index.php?route=common/filemanager/image&token=<?php echo $token; ?>&image=' + encodeURIComponent($('#' + field).val()),
					dataType: 'text',
					success: function(data) {
						$('#' + thumb).replaceWith('<img src="' + data + '" alt="" id="' + thumb + '" />');
					}
				});
			}
		},	
		bgiframe: false,
		width: 800,
		height: 400,
		resizable: false,
		modal: false
	});
};

//-----------------------------------------
// Confirm Actions (delete, uninstall)
//-----------------------------------------
    $(document).ready(function() {

        $('input.selectall').on('ifChecked', function(event) {
                $('input[name*=\'selected\']').iCheck('check');
        });
        $('input.selectall').on('ifUnchecked', function(event) {
                $('input[name*=\'selected\']').iCheck('uncheck');
        });

        // Confirm Delete
        $('#form').submit(function() {
            if ($(this).attr('action').indexOf('delete', 1) != -1) {
                if (!confirm('<?php echo $text_confirm; ?>')) {
                    return false;
                }
            }
        });
        // Confirm Uninstall
        $('a').click(function() {
            if ($(this).attr('href') != null && $(this).attr('href').indexOf('uninstall', 1) != -1) {
                if (!confirm('<?php echo $text_confirm; ?>')) {
                    return false;
                }
            }
        });


        //Menu highlighting
        $('.sidebar-menu a[href="' + location.href + '"]').parent('li').addClass('active').parents('li').children('a').trigger('click');

        //Form Validation
        $('.form-validate').validate({
        ignore: ".ignore",
            highlight: function(element, errorClass, validClass) {
                $(element).closest('.form-group').addClass('has-error');

            },
            unhighlight: function(element, errorClass, validClass) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            invalidHandler: function(event, validator) {
                // 'this' refers to the form
                var errors = validator.numberOfInvalids();
                if (errors) {
                    var message = errors == 1
                            ? '<?php echo $form_missed_one; ?>'
                            : '<?php echo $form_missed_x; ?>'.replace("{{errors}}", errors);
                    $("div#form-error span").html(message);
                    $("div#form-error").show();
                } else {
                    $("div#form-error").hide();
                }
            }

        });

        //Onready Callbacks
        $.each(onReadyCallbacks, function(i, callback) {
            if (callback instanceof Function) {
                callback();
            }
        });

    });
</script>